body {
    background-color: #ffffff;
    color: #333333;
}

#addLinkForm,
.link-tile,
th,
td,
.modal-content {
    border-color: #dddddd;
    background-color: #f9f9f9;
}

#linkForm input,
#linkForm textarea,
#searchInput,
#tagFilter {
    background-color: #ffffff;
    color: #333333;
    border-color: #cccccc;
}

th {
    background-color: #f2f2f2;
}

.link-tile .tag {
    background-color: #e0e0e0;
    color: #333333;
}

.close {
    color: #666666;
}

.close:hover,
.close:focus {
    color: #333333;
}

.editBtn,
.deleteBtn,
.info-btn {
    color: rgba(0, 0, 0, 0.5);
}

.editBtn:hover,
.deleteBtn:hover,
.info-btn:hover {
    color: rgba(0, 0, 0, 0.8);
}

a {
    color: #0056b3;
}

.controls button {
    color: rgba(0, 86, 179, 0.7);
}

.controls button:hover {
    color: rgba(0, 86, 179, 0.9);
}

input::placeholder,
textarea::placeholder {
    color: #999999;
}
